{% extends 'base.html'%}

{% block head %}
{% endblock %}


{% block body %}
<button onclick = "window.location = 'http\:\/\/127.0.0.1:5000\/'+'summary/7/None/None/1995/None'">Summary</button>
<button onclick = "window.location = 'http\:\/\/127.0.0.1:5000\/'+'tsales'">Today's Sales</button>
<button onclick = "window.location = 'http\:\/\/127.0.0.1:5000\/'+'loans'">Loans list</button>
<button onclick = "window.location = 'http\:\/\/127.0.0.1:5000\/'+'profiles'">User list</button>
{% endblock %}