{% extends 'base.html'%}

{% block head %}
{% endblock %}


{% block body %}
<button onclick="window.location ='http:\/\/127.0.0.1:5000/CNL'">Create New Loaner</button>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Number</th>
        <th>Actions</th>
        
    </tr>
    {% for i in users %}
    <tr>

        <td>{{i.name}}</td>
        <td>{{i.location}}</td>
        <td>{{i.number}}</td>
        <td><p><a href="/delete/{{i.id}}">Delete</a></p>
            <p><a href="profile/{{i.id}}">Learn More</a></p>
        </td>
        

    </tr>
    {% endfor %}
</table>
<form action="/admin">
    <input type="submit" value="Back to Main page"></form>
</div>
{% endblock %}