{% extends 'base.html'%}

{% block head %}
<script>
    function makevisible(id){
        if(document.getElementById(id).style.display=='none'){
         document.getElementById(id).style.display='block';
        }else{
            document.getElementById(id).style.display='none';
        }
    }
</script>
{% endblock %}


{% block body %}
name: {{loaner.name}}
number : {{loaner.number}}
location : {{loaner.location}}
loans:

<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Body Part</th>
        <th>Customer Name</th>
        <th>Price</th>
    </tr>
    {% for i in loaner.loans %}
    <tr>

        <td>{{i.make}}</td>
        <td>{{i.model}}</td>
        <td>{{i.year}}</td>
        <td>{{i.bodypart}}</td>
        <td>{{loaner.name}}</td>
        <td>{{i.price}}</td>

    </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Body Part</th>
        <th>Customer Name</th>
        <th>Price</th>
    </tr>
    {% for i in loaner.paidloans %}
    <tr>

        <td>{{i.make}}</td>
        <td>{{i.model}}</td>
        <td>{{i.year}}</td>
        <td>{{i.bodypart}}</td>
        <td>{{loaner.name}}</td>
        <td>{{i.price}}</td>

    </tr>
    {% endfor %}
</table>
<button onclick="makevisible('payment')">make payment</button>
<div id="payment" style="display: none;">
    <form action="/makepayment/{{loaner.id}}" method='post' enctype="multipart/form-data">
        <input type="text" id="money" name="money" placeholder="amount">
        <input type="submit" value="add money">
    </form>
</div>
<form action="/admin">
    <input type="submit" value="Back to Main page"></form>
</div>
{% endblock %}