{% extends 'base.html'%}

{% block head %}
<style>
    .content{
        display:none;
        position:absolute;
        width:100%;
        overflow:auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    }
    .base{
        display:contents;
        position:relative;
        padding:20px;
    }

</style>
<script>
    var bodyparts={
        'Interior':['Electronic','plastic','radio','airbag','seats','dashboard'],
        'Exterior':{
            'Doors':['trunk','FR','FL','RR','RL'],
            'Front Panels':['radiator','grill','fender','hood','bumper','headlights'],
            'Rear Panels':['bumper','tail lights','fender']
        },
        'Mechanic':{
            'Engine':['Engine','Dynamo','Marsh','Hydrolic Pump','Coil','Compressor AC','Sensor','Karase Motor','Computer'],
            'Transmission':['Transmission','Sensor','Karase Vitesse','Gear','Trans Axle'],
            'Front Axle':['Malkat','Terbi3a','Flensha','disk','Rolman','Cylinder frem','Atmasor','bayda','Sensor ABS','Traverse','Bwat dereksyon'],
            'Rear Axle':['Differential','Mal2at','Terbi3a','Traverse','Atmassor','Flanja','Disk','Cylinder','ABS'],
            'Nawe3im Bouz':['3elbit Fa2set','Servo Frem','Trombit Frem','Trombit ABS','3elbit May']
        }
    }

    var makes= ['None','Toyota','Honda','Mazda','Daihatsu','Mitsubishi','Nissan','Infiniti']
    var models = {'None':['None'],
    'Toyota':['yaris sedan','yaris hetchback','corolla','camry','gt86','c-hr','echo','fj cruiser','Land Cruiser','Prado','Seqouia','Siena','Rav4','Prius','Tacoma','Tundra','Avanza'],
    'Honda':['Accord','Civic','CRV','Odyssey','Pilot','City'],
    'Mazda':['M2','M3','M6','M323','M626','CX7','CX9','CX5','Tribute'],
    'Daihatsu':['Sirion','Terios','MPV'],
    'Mitsubishi':['Lancer','Eclipse','Endevor','Gelant','Mirage','Montero','Outlander','Galoper'],
    'Nissan':['Sunny','Sentra','Altima','Maxima','Pathfinder','350Z','370Z','Versa','Tiida','Armada','Titan','Frontier','Juke','Micra','Murano','Rogue','X-Trail','X-terra'],
    'Infiniti':['Qx4','Ex35','Fx35','G35','G37','Q30','Q50','Q60','Q70','Qx30','Qx50','Qx60','Qx80'],
    'Lexus':['LX350','Rx350','Rx330','Sc430']}
    window.onload=function(){

    makes.forEach(x => {
        var e=document.createElement('option')
        e.value=x
        e.innerHTML=x
        document.getElementById("make").appendChild(e)
    });
    

    for(var i = 1995;i<2022;i++){
        var e=document.createElement('option')
        e.value=i
        e.innerHTML=i
        document.getElementById("year").appendChild(e)
    }

    changemodels()
    var elem=document.getElementById("interior");
    bodyparts['Interior'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('interior')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
    elem = document.getElementById("doors");
    bodyparts['Exterior']['Doors'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('exterior');makevisible('doors')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
    elem = document.getElementById("frontpanels");
    bodyparts['Exterior']['Front Panels'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('exterior');makevisible('frontpanels')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
    elem = document.getElementById("rearpanels");
    bodyparts['Exterior']['Rear Panels'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('exterior');makevisible('doors')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })

    elem = document.getElementById("engine");
    bodyparts['Mechanic']['Engine'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('mechanic');makevisible('engine')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
    elem = document.getElementById("frontaxle");
    bodyparts['Mechanic']['Front Axle'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('mechanic');makevisible('frontaxle')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
    elem = document.getElementById("rearaxle");
    bodyparts['Mechanic']['Rear Axle'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('mechanic');makevisible('rearaxle')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
    elem = document.getElementById("nawe3imbouz");
    bodyparts['Mechanic']['Nawe3im Bouz'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('mechanic');makevisible('nawe3imbouz')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })

    elem = document.getElementById("transmission");
    bodyparts['Mechanic']['Transmission'].forEach(x=>{
        var btn = document.createElement("span");
        btn.setAttribute("onclick","document.getElementById('mainbutton').innerHTML= '" + x+"';document.getElementById('bodypart').setAttribute('value','"+x+"'); makevisible('base');makevisible('mechanic');makevisible('transmission')");
        btn.innerHTML=x;
        btn.className="btn"
        btn.style.backgroundColor="pink"
        elem.appendChild(btn);
        var el = document.createElement("span")
        el.innerHTML=" "
        elem.appendChild(el)
    })
}
    function makevisible(id){
        if(document.getElementById(id).style.display=='none'){
         document.getElementById(id).style.display='block';
        }else{
            document.getElementById(id).style.display='none';
        }
    }

    function changemodels(){

        var val=document.getElementById("make").value;
        removeOptions(document.getElementById("model"))
        for (const key in models[val]) {
            var a = models[val][key]
            var e=document.createElement('option')
            e.value=a
            e.innerHTML=a
            document.getElementById("model").appendChild(e)

        }
    }
    function removeOptions(selectElement) {
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}
function submitrequest(){
    var tframe = document.getElementById("timeframe").value
    var make = document.getElementById("make").value
    var model = document.getElementById("model").value
    var year = document.getElementById("year").value
    var bodypart = document.getElementById("mainbutton").innerHTML
    window.location = 'http://127.0.0.1:5000/summary/' + tframe + "/" + make + "/" + model+"/" + year+"/"+bodypart
}
</script>
<style>
    .btn{
        cursor:pointer;
    }
    .styled-table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }
    .styled-table tr {
        border-bottom: 1px solid #dddddd;
    }
    .styled-table th{
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th,
    .styled-table td{
        padding: 12px 15px;
    }
    .header{
        padding:50px;
        position:sticky;
    }
</style>
{% endblock %}


{% block body %}
<div class="header">
<div  class="base">
    <button onclick="makevisible('content')">Add</button>
    <div class="content" id="content" style="overflow:visible;display:none;">
        <form action="/additem" method='POST' enctype="multipart/form-data">
            <label for="make">Make</label>
            <select onload="showmakes()" onchange="changemodels()" name="make" id="make">

            </select>
            <label for="model">Model</label>
            <select name="model" id="model">

            </select>
            <label for="year">Year</label>
            <select name="year" id="year">

            </select>
            <label for="customername">Customer Name</label>
            <input type="text" id="customername" name="customername">

            <label for="itemprice">Item price</label>
            <input type="text" id="itemprice" name="itemprice">

            <label for="bpart">Body Part</label>
            <div name="bodypart" id="bpart" style="position: relative;display: inline-block;">
            <span value="mainbutton" class="btn" style="background-color: blue;color: white;" onclick="makevisible('base');" id="mainbutton" >bpart name</span>
            <div id="base" class="base" style="display: none;position: absolute;">
                <div class="interior" style="display: inline-block;">
                    <span class="btn" style="background-color:green;" onclick = "makevisible('interior');">Interior</span>
                    <div class="i1" id="interior" style="display:none;">

                    </div>
                </div>
                <div class="Exterior">
                    <span class="btn" style="background-color:green;"  onclick="makevisible('exterior');">Exterior</span>
                    <div class="i2" id="exterior" style="display:none;">
                        <div class="doors">
                            <span class="btn" style="background-color:orange;" onclick="makevisible('doors')">Doors</span>
                            <div id="doors" style="display: none;">

                            </div>
                        </div>
                        <div class="front panels">
                            <span class="btn" style="background-color: orange;" onclick="makevisible('frontpanels')">Front Panels</span>
                            <div id="frontpanels" style="display: none;">

                            </div>
                        </div>
                        <div class="rear panels">
                            <span class="btn" style="background-color: orange;" onclick="makevisible('rearpanels')">Rear Panels</span>
                            <div id="rearpanels" style="display: none;">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="Mechanic">
                    <span class="btn" style="background-color: green;"  onclick="makevisible('mechanic');">Mechanic</span>
                    <div class="i2" id="mechanic" style="display:none;">
                        <div class="engine">
                            <span class="btn" style="background-color:orange;" onclick="makevisible('engine')">Engine</span>
                            <div id="engine" style="display: none;">

                            </div>
                        </div>
                        <div class="transmission">
                            <span class="btn" style="background-color:orange;" onclick="makevisible('transmission')">Transmission</span>
                            <div id="transmission" style="display: none;">


                            </div>
                        </div>
                        <div class="frontaxle">
                            <span class="btn" style="background-color:orange;" onclick="makevisible('frontaxle')">Front Axle</span>
                            <div id="frontaxle" style="display: none;">

                            </div>
                        </div>
                        <div class="rearaxle">
                            <span class="btn" style="background-color:orange;" onclick="makevisible('rearaxle')">Rear Axle</span>
                            <div id="rearaxle" style="display: none;">

                            </div>
                        </div>
                        <div class="nawe3imbouz" >
                            <span class="btn" style="background-color:orange;" onclick="makevisible('nawe3imbouz')">nawe3im bouz</span>
                            <div id="nawe3imbouz" style="display: none;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <input value="123" type="text" id="bodypart" name="test" style="display:none" >
            <div>
            <input type="text" style="display: none;" name="loanboolean" id="loanboolean" value=0>
            <label for="isloan" >Loan?</label>
            <span onclick="makevisible('isloan')" id="loan">no</span>
            <div name="isloan" id="isloan" style="display: none;position: relative;">
                <ul style="list-style-type: none;">
                <li><span  onclick="document.getElementById('loanboolean').value=0;document.getElementById('forloan').style.display='none';makevisible('isloan');document.getElementById('loan').innerHTML='no'" >no</span></li>
                <li><span onclick="document.getElementById('loanboolean').value=1;document.getElementById('forloan').style.display='block';makevisible('isloan');document.getElementById('loan').innerHTML='yes'" >yes</span></li>
                </ul>
            </div>
            </div>
            <div id="forloan" style="display: none;">
            <label for="loaner">Loaner</label>
            <select name="loaner" id="loaner">
                {% for u in users %}
                    <option value={{u.id}}>{{u.name}}</option>
                {% endfor %}
            </select>
           
            </div>
            <input type="submit" value="add">

        </form>
        <button onclick="window.location ='http:\/\/127.0.0.1:5000/CNL'">Create New Loaner</button>
    </div>

    </div>

</div>

<div style="display: block;left: 10px;top: 250px;position: absolute;">
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Body Part</th>
        <th>Customer Name</th>
        <th>Price</th>
    </tr>
    {% for i in items %}
    <tr>

        <td>{{i.make}}</td>
        <td>{{i.model}}</td>
        <td>{{i.year}}</td>
        <td>{{i.bodypart}}</td>
        <td>{{i.cname}}</td>
        <td>{{i.price}}</td>

    </tr>
    {% endfor %}
    {% for i in loans %}
    <tr style="background-color: blue;color: white;">

        <td>{{i.make}}</td>
        <td>{{i.model}}</td>
        <td>{{i.year}}</td>
        <td>{{i.bodypart}}</td>
        <td>{{i.cname}}</td>
        <td>{{i.price}}</td>

    </tr>
    {% endfor %}
</table>
<form action="/admin">
    <input type="submit" value="Back to Main page"></form>
</div>

{% endblock %}